<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Colaborador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <h2>Bienvenido, {{ usuario.nombre }} {{ usuario.apellidos }}</h2>
        <p>Tu rol actual: <strong>{{ rol }}</strong></p>
        <p>{{ mensaje }}</p> <!-- Mensaje dinámico desde el backend -->

        <!-- Contenedor para los botones -->
        <div class="button-group">
            <!-- Opciones del Administrador -->
            {% if rol == 'Admin' %}
                <a href="{{ url_for('colaborador.users') }}" class="dashboard-button">Administrar Colaboradores</a>
                <a href="{{ url_for('proyecto.proyectos') }}" class="dashboard-button">Gestionar Proyectos</a>
            {% endif %}

            <!-- Opciones del Líder de Proyecto -->
            {% if rol == 'Líder de Proyecto' %}
                <a href="{{ url_for('proyecto.proyectos') }}" class="dashboard-button">Ver y Crear Proyectos</a>
                <a href="{{ url_for('proyecto.proyectos') }}" class="dashboard-button">Gestionar Proyectos</a>
            {% endif %}

            <!-- Opciones del Usuario -->
            {% if rol == 'Usuario' %}
                <a href="{{ url_for('proyecto.proyectos') }}" class="dashboard-button">Ver Mis Proyectos</a>
                <a href="{{ url_for('proyecto.proyectos') }}" class="dashboard-button">Actualizar Actividades</a>
            {% endif %}

            <!-- Botón para Cerrar Sesión -->
            <form action="{{ url_for('colaborador.logout') }}" method="post">
                <button type="submit" class="dashboard-button">Cerrar sesión</button>
            </form>
        </div>
    </div>
</body>
</html>
